<style>
    #footer {
    background: #eaf7ff;
}
#brand {
    background: #023859;
    color: #ffffff;
}
.container-name div{
    display: inline-block;
	width: 30%;
	min-height: 40px;
	height: auto;
  }
</style>
<!-- Footer -->
<footer class="page-footer page-footer1 font-small teal pt-4" id="page-footer1">
    <div class="container">
        <p><strong>Built with:</strong></p>
        <img src="https://img.icons8.com/color/96/000000/nodejs.png"/>
        <img src="https://img.icons8.com/color/96/000000/npm.png"/>
        <img src="https://img.icons8.com/color/96/000000/html-5.png"/>
        <img src="https://img.icons8.com/color/96/000000/css3.png"/>
        <img src="https://img.icons8.com/ios/100/000000/javascript-logo.png"/>
        <img src="https://img.icons8.com/color/96/000000/mongodb.png"/>

    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="brand1">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

<script src="http://paster.manjurulhoque.com/static/js/jquery-3.4.1.min.js"></script>
<script src="http://paster.manjurulhoque.com/static/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script src="http://paster.manjurulhoque.com/static/plugins/select2/js/select2.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.select2').select2({
                placeholder: "Select language",
                selectOnClose: true
            });
        })
    </script>






</body>

</html>