<%- include("partials/header" ) %>

<div class="container content">
    <h2><%= errmessage %></h2>
    <div class="row justify-content-center">
        <div class="col-md-8">


            <div class="card">
                <div class="card-header blue-grey">Login</div>

                <div class="card-body">

                    <form action="/login" method="POST">
           
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   name="username"
                                   
                                   placeholder="Username">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"
                                class="form-control"
                                name="password"
                                id="password"
                                placeholder="Enter Password">
                        </div>

                        <br>
                        <input class="btn btn-success" type="submit"
                            value='Login'>&nbsp; &nbsp;

                        Have an Account <a href="/accounts/login">Login Here.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer" ) %>